*{
background-color: rgb(255, 255, 255);
margin: 0;
padding: 0;
}

a {
    color:rgb(0, 0, 0);
    font-size:100%;

}
a:visited,a:hover{

    color:rgb(0, 0, 0);
    font-size:100%;



}


a{

    text-decoration:none ;
    background-color:
    #e3effa;
}

nav{
   padding:2%;
     background-color:
     #e3effa;
 margin-left: 5%;
}



#spanlogo{


    background-color:
    #e3effa;
    padding-left: 5%;
}






@import url('https://fonts.googleapis.com/css?family=Raleway');
/* h2 {
    vertical-align: center;
    text-align: center;
} */

html, body {
    margin: 0;
    height: 100%;
}

/* * {
    font-family: "Raleway";
    box-sizing: border-box;
} */

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#e3effa;
     color: #000000;
    height: 50px;
    padding: 1em;
    position: relative;
    z-index: 10;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 9;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu li a{
  text-decoration: none;
  color:rgb(0, 0, 0);
}

.menu li a:visited{
  color:rgb(0, 0, 0);
  text-decoration: none;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #000000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color:#e3effa;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
    }

    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

.homesection {
  background-image: url("Donut.jpg");
     background-size: cover;
    width: 100%;
    height: 90%;
    position: relative;
    color: #121825;
}

#idcolorbackground {
    width: 100%;
    height: 100%;
    position: absolute;
     color: rgb(0, 0, 0);
    opacity: 0.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#idfortext {
    margin: 5%;
    margin-top: 15%;
    font-size: 200%;
    text-align: center;
    overflow-wrap: break-word;
    margin-left: 25%;
    margin-right: 25%;
}

.button {
    background-color: #121825;
    padding: 2%;
    font-size: 100%;
    color: whitesmoke;
    border: solid 2px #5b6884;
    margin: 2%;
    border-radius: 70px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover {
    transform: scale(1.2);
    background-color: whitesmoke;
    color: #121825;
}

.aboutsection{

height: 100%;
background-image: linear-gradient(  #4b5970,whitesmoke  );
width: 100%;}





#abouttext{

font-size: 200%;
margin: 25%;
margin-top:0px;
color:#251213;
padding-top: 10%

}


.sectionskills{
width:auto;
height: 100%;
color: whitesmoke;
font-size:70%;
background-color: #121825;
display: grid;
padding-left: 5%;


grid-template-columns:repeat(4,1fr);
grid-template-rows: repeat(4,1fr);

}


.sectionskills div{

border:solid 2px #809bd6;
border-radius: 150px;
margin: 20%;
padding: 10%;
width: 50px;
height:50px;
background-color: #121825;
box-shadow: 1px 3px 10px 1px whitesmoke;
transition: transform 0.3s ease, background-color 0.3s ease;
}


.sectionskills div:hover{
transform: scale(1.7);
    background-color: #1d2434;
}
.sectionskills img{

width:100%;
height:100%;
}


#forheading{

background-color: #121825;color: whitesmoke;font-size: 300%;padding-top: 2%;
}


.QUALIFICATIONS{
display: grid;
gap: 2%;
grid-template-columns: repeat(3,1fr);
height:50%;
background-color: #ffffff;
font-weight: bold;
width: auto;
padding:18%;
padding-top:4%;
transition: transform 0.3s ease




}




.description:hover {
transform: scale(1.1); /* Scale up by 10% on hover */

}

.QUALIFICATIONS .description  {

border: solid 1px #121825;
width: 100%;
height:90%; justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
border-radius: 20px;
box-shadow:0px 2px 10px #121825;
text-align: center;
}



.QUALIFICATIONS .description  img{

padding-bottom: 4%;
width: 100%;
height: 70%;
border-radius: 20px;


}
.QUALIFICATIONS {

color :#121825;}

.HEADING{
text-align: center;
padding-top:10%;
}
/* ............................ */


.projects{
display: grid;
gap: 8%;
grid-template-columns: repeat(2,1fr);
height:50%;
background-color:#121825;
font-weight: bold;
width: auto;
padding:18%;
padding-top:4%;
transition: transform 0.3s ease




}




.projectstext:hover {
transform: scale(1.1); /* Scale up by 10% on hover */

}

.projects .projectstext {

border: solid 1px #ffffff;
color: whitesmoke;
width: 100%;
height:100%; justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
border-radius: 20px;
font-size: 150%;
box-shadow:0px 2px 10px #a7c0f8;
text-align: center;
padding:4%;
}



.projects .projectstext img{

padding-bottom: 4%;
width: 100%;
height: 70%;
border-radius: 20px;


}
.projects{

color :#121825;}

.projectsheading{
text-align: center;
padding-top:10%;
background-color: #121825;
color:rgb(255, 255, 255);
}
.projects a{

text-decoration: none;
color: whitesmoke;

}

.projects a:hover{
color:whitesmoke;
text-decoration: none;
}


.footercontact{

grid-template-columns: repeat(2,1fr);
background-color:
#e3effa;
width: 100%;
height: auto;
color:#121825;
padding-top: 1%;
transition: transform 0.3s ease

}


.footercontact div{

width: 30%;

}


.footercontact div img{
width: 60%; padding: 2%;

}

.gridForimg{
/* Scale up by 10% on hover */
align-self: center;
justify-content: center;
gap: 15%;
display: grid;
grid-template-columns: repeat(3,1fr);

}
.gridForimg img:hover{
transform: scale(1.7);}

/* ................................................................................... */

@media(max-width:300px) {



.QUALIFICATIONS{
display: grid;
gap: 2%;
grid-template-columns: repeat(1,1fr);
height:150%;
background-color: #ffffff;
font-weight: bold;
width: auto;
padding:18%;
padding-top:4%;
transition: transform 0.3s ease




}




.description:hover {
transform: scale(1.1); /* Scale up by 10% on hover */

}

.QUALIFICATIONS .description  {

border: solid 1px #121825;
width: 100%;
height:90%; justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
border-radius: 20px;
box-shadow:0px 2px 10px #121825;
text-align: center;
}



.QUALIFICATIONS .description  img{

padding-bottom: 4%;
width: 100%;
height: 70%;
border-radius: 20px;


}
.QUALIFICATIONS {

color :#121825;}

.HEADING{
font-size: 90%;
text-align: center;
padding-top:10%;
}


.sectionskills div{

border:solid 2px #809bd6;
border-radius: 150px;
margin: 20%;
padding: 10%;
width: 50px;
height:50px;
margin-top: 0%;

background-color: #121825;
box-shadow: 1px 3px 10px 1px whitesmoke;
transition: transform 0.3s ease, background-color 0.3s ease;
}


.sectionskills div:hover{
transform: scale(1.7);
    background-color: #1d2434;
}
.sectionskills img{

width: 100%;
height: 100%;
}


.sectionskills{
padding-top: 5%;
padding-left: 6%;
}
#forheading{

color:whitesmoke; font-size: 200%;   background-color: #121825;
}
.aboutsection{

height: 100%;
background-image: linear-gradient(  #4b5970,whitesmoke  );
width: 100%;}





#abouttext{

font-size: 100%;
margin: 25%;
margin-top:0px;
color:#251213;
padding-top: 10%

}





nav{


display: flex;
flex-direction: column;
border-bottom: solid 2PX #121825 ;
border-top:  solid 2PX #121825;
text-align: center;
}

nav a{
padding: 2%;

text-decoration: none;

}

nav a:hover{

color:#121825;
font-size:100%;
}



nav a:hover{

color:#121825;
font-size:150%;
}
.homesection{
background-image: url("dount.jpg");
background-size: cover;
width:  100%;
height: 100%;
position: relative;

color:#121825;


}
#idcolorbackground{
width: 100%;
height: 100%;
position: absolute;
background-color:#121825;
color: whitesmoke;

opacity:0.8;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#idfortext{
margin: 5%;
margin-top:15%;
font-size:150%;
text-align: center;
overflow-wrap: break-word;
margin-left: 25%;
margin-right: 25%;

}



.button{

background-color: #121825;
padding: 2%;
font-size: 50%;
color: whitesmoke;
border:solid 2px #5b6884;
margin:2%;
border-radius:70px;
transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover{

transform:scale(1.2);
background-color: whitesmoke;
color: #121825;

}


.sectionskills{
width:100%;
margin-top: 0%;
padding-top: 0%;
height: 230%;
color: whitesmoke;
font-size:70%;
background-color: #121825;
display: block;
grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
}



.projects{
display: grid;
gap: 8%;
grid-template-columns: repeat(1,1fr);
height:100%;
background-color:#121825;
font-weight: bold;
width: auto;
padding:18%;
padding-top:4%;
transition: transform 0.3s ease




}




.projectstext:hover {
transform: scale(1.1); /* Scale up by 10% on hover */

}

.projects .projectstext {

border: solid 1px #ffffff;
color: whitesmoke;
width: 100%;
height:100%; justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
border-radius: 20px;
font-size: 100%;
box-shadow:0px 2px 10px #a7c0f8;
text-align: center;
padding:4%;
}



.projects .projectstext img{

padding-bottom: 4%;
width: 100%;
height: 70%;
border-radius: 20px;


}
.projects{

color :#121825;}

.projectsheading{
text-align: center;
padding-top:10%;

background-color: #121825;
color:rgb(255, 255, 255);
}
.projects a{

text-decoration: none;
color: whitesmoke;

}

.projects a:hover{
color:whitesmoke;
text-decoration: none;
}
}



@media(max-width:450px) {



.QUALIFICATIONS{
display: grid;
gap: 5%;
grid-template-columns: repeat(1,1fr);
height:200%;
background-color: #ffffff;
font-weight: bold;
width: auto;
padding:18%;
padding-top:4%;
transition: transform 0.3s ease




}




.description:hover {
transform: scale(1.1); /* Scale up by 10% on hover */

}

.QUALIFICATIONS .description  {

border: solid 1px #121825;
width: 100%;
height:90%; justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
border-radius: 20px;
box-shadow:0px 2px 10px #121825;
text-align: center;
}



.QUALIFICATIONS .description  img{

padding-bottom: 4%;
width: 100%;
height: 70%;
border-radius: 20px;


}
.QUALIFICATIONS {

color :#121825;}

.HEADING{
font-size: 90%;
text-align: center;
padding-top:10%;
}


.sectionskills div{

border:solid 2px #809bd6;
border-radius: 150px;
margin: 20%;
padding: 10%;
width: 50px;
height:50px;
margin-top: 0%;

background-color: #121825;
box-shadow: 1px 3px 10px 1px whitesmoke;
transition: transform 0.3s ease, background-color 0.3s ease;
}


.sectionskills div:hover{
transform: scale(1.7);
    background-color: #1d2434;
}
.sectionskills img{

width: 100%;
height: 100%;
}


#forheading{

color:whitesmoke; font-size: 200%;   background-color: #121825;
}
.aboutsection{

height: 100%;
background-image: linear-gradient(  #4b5970,whitesmoke  );
width: 100%;}





#abouttext{

font-size: 100%;
margin: 25%;
margin-top:0px;
color:#251213;
padding-top: 10%

}





nav{


display: flex;
flex-direction: column;
border-bottom: solid 2PX #121825 ;
border-top:  solid 2PX #121825;
text-align: center;
}

nav a{
padding: 2%;

text-decoration: none;

}

nav a:hover{

color:#121825;
font-size:100%;
}



nav a:hover{

color:#121825;
font-size:150%;
}
.homesection{
background-image: url("pexels-felixmittermeier-956999.jpg");
background-size: cover;
width:  100%;
height: 100%;
position: relative;

color:#121825;


}
#idcolorbackground{
width: 100%;
height: 100%;
position: absolute;
background-color:#121825;
color: whitesmoke;

opacity:0.8;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#idfortext{
margin: 5%;
margin-top:15%;
font-size:150%;
text-align: center;
overflow-wrap: break-word;
margin-left: 25%;
margin-right: 25%;

}



.button{

background-color: #121825;
padding: 2%;
font-size: 50%;
color: whitesmoke;
border:solid 2px #5b6884;
margin:2%;
border-radius:70px;
transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover{

transform:scale(1.2);
background-color: whitesmoke;
color: #121825;

}


.sectionskills{
width:100%;
margin-top: 0%;
padding-top: 0%;
height: 300%;
color: whitesmoke;
font-size:70%;
background-color: #121825;
display: block;
grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
}



.projects{
display: grid;
gap: 8%;
grid-template-columns: repeat(1,1fr);
height:100%;
background-color:#121825;
font-weight: bold;
width: auto;
padding:18%;
padding-top:4%;
transition: transform 0.3s ease




}




.projectstext:hover {
transform: scale(1.1); /* Scale up by 10% on hover */

}

.projects .projectstext {

border: solid 1px #ffffff;
color: whitesmoke;
width: 100%;
height:100%; justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
border-radius: 20px;
font-size: 100%;
box-shadow:0px 2px 10px #a7c0f8;
text-align: center;
padding:4%;
}



.projects .projectstext img{

padding-bottom: 4%;
width: 100%;
height: 70%;
border-radius: 20px;


}
.projects{

color :#121825;}

.projectsheading{
text-align: center;
padding-top:10%;
background-color: #121825;
color:rgb(255, 255, 255);
}
.projects a{

text-decoration: none;
color: whitesmoke;

}

.projects a:hover{
color:whitesmoke;
text-decoration: none;
}
}


@media (min-width: 750px) and (max-width: 686px)  {



.QUALIFICATIONS{
display: grid;
gap: 5%;
grid-template-columns: repeat(1,1fr);
height:200%;
background-color: #ffffff;
font-weight: bold;
width: auto;
padding:18%;
padding-top:4%;
transition: transform 0.3s ease




}




.description:hover {
transform: scale(1.1); /* Scale up by 10% on hover */

}

.QUALIFICATIONS .description  {

border: solid 1px #121825;
width: 100%;
height:90%; justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
border-radius: 20px;
box-shadow:0px 2px 10px #121825;
text-align: center;
}



.QUALIFICATIONS .description  img{

padding-bottom: 4%;
width: 100%;
height: 70%;
border-radius: 20px;


}
.QUALIFICATIONS {

color :#121825;}

.HEADING{
font-size: 90%;
text-align: center;
padding-top:10%;
}




.aboutsection{

height: 150%;
background-image: linear-gradient(  #4b5970,whitesmoke  );
width: 100%;}




#abouttext{

font-size: 70%;
margin: 25%;
margin-top:0px;
color:#251213;
padding-top: 10%

}





nav{


display: flex;
flex-direction: column;
border-bottom: solid 2PX #121825 ;
border-top:  solid 2PX #121825;
text-align: center;
}

nav a{
padding: 2%;

text-decoration: none;

}

nav a:hover{

color:#121825;
font-size:100%;
}



nav a:hover{

color:#121825;
font-size:150%;
}
.homesection{
background-image: url("pexels-felixmittermeier-956999.jpg");
background-size: cover;
width:  100%;
height: 100%;
position: relative;

color:#121825;


}
#idcolorbackground{
width: 100%;
height: 100%;
position: absolute;
background-color:#121825;
color: whitesmoke;

opacity:0.8;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#idfortext{
margin: 5%;
margin-top:15%;
font-size:150%;
text-align: center;
overflow-wrap: break-word;
margin-left: 25%;
margin-right: 25%;

}



.button{

background-color: #121825;
padding: 2%;
font-size: 50%;
color: whitesmoke;
border:solid 2px #5b6884;
margin:2%;
border-radius:70px;
transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover{

transform:scale(1.2);
background-color: whitesmoke;
color: #121825;

}


.sectionskills{
width:100%;
margin-top: 0%;
padding-top: 0%;
height: 300%;
color: whitesmoke;
font-size:70%;
background-color: #121825;
display: block;
grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
}



.projects{
display: grid;
gap: 8%;
grid-template-columns: repeat(1,1fr);
height:100%;
background-color:#121825;
font-weight: bold;
width: auto;
padding:18%;
padding-top:4%;
transition: transform 0.3s ease




}




.projectstext:hover {
transform: scale(1.1); /* Scale up by 10% on hover */

}

.projects .projectstext {

border: solid 1px #ffffff;
color: whitesmoke;
width: 100%;
height:100%; justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
border-radius: 20px;
font-size: 100%;
box-shadow:0px 2px 10px #a7c0f8;
text-align: center;
padding:4%;
}



.projects .projectstext img{

padding-bottom: 4%;
width: 100%;
height: 70%;
border-radius: 20px;


}
.projects{

color :#121825;}

.projectsheading{
text-align: center;
padding-top:10%;
background-color: #121825;
color:rgb(255, 255, 255);
}
.projects a{

text-decoration: none;
color: whitesmoke;

}

.projects a:hover{
color:whitesmoke;
text-decoration: none;
}
}

